@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

.main {
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
  background-color: #f5f5dc;
  background-image: url(../Images/solar.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: green;
  font-family: "Akaya Telivigala", cursive;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#text {
  font-size: 44px;
}

h1 {
  font-size: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-image: url(../Images/pose.png);
  background-size: contain;
  /* background-color: #010f1c; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #f9ff60;
  background-image: linear-gradient(315deg, #f9ff60 0%, #ffef77 74%);
  border-radius: 50%;
  height: 20px;
  width: 60px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
